In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from DataSet_tools.data_processing import PreProcessing
%matplotlib inline

In [2]:
customers = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_customers_dataset.csv')
geolocation = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_geolocation_dataset.csv')
items = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_order_items_dataset.csv')
payments = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_order_payments_dataset.csv')
reviews = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_order_reviews_dataset.csv')
orders = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_orders_dataset.csv')
products = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_products_dataset.csv')
sellers = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/olist_sellers_dataset.csv')
category = pd.read_csv('Data/Brazilian E-Commerce Public Dataset by Olist/product_category_name_translation.csv')

In [3]:
cust = customers.copy()
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
cust = cust.set_index(['customer_state', 'customer_city', 'customer_zip_code_prefix'])
cust = cust.sort_index()
cust

                                                                              customer_id  \
customer_state customer_city   customer_zip_code_prefix
AC             brasileia       69932                     b1161707c5b3711b7cf6213c114c91b2
               cruzeiro do sul 69980                     757bbd8c61a5fd67d5b8c18efd987beb
                               69980                     f23c4b530f6d7d421de1e38d3e0cc327
                               69980                     ee0ab5a9747a11f916fff4b4fc306ac0
               epitaciolandia  69934                     8a45f7d2b87f16a273fd86e9d5efc35a
...                                                                                   ...
TO             tocantinopolis  77900                     47f773dfff4d38e72ce3d45027b55ca4
                               77900                     57d7a0e97246823d94b31681180a91a1
               xambioa         77880                     83486328de12e85d29b27790fd68f911
                               77880                     396327c2beeede33bdfc47d59e31cbcd
                               77880                     94a1a4676a3e0dd5b10d801e940a066f

                                                                       customer_unique_id
customer_state customer_city   customer_zip_code_prefix
AC             brasileia       69932                     650dd69e8e20391188d727da3599e9a7
               cruzeiro do sul 69980                     39a1da1c9a9a1f4fab3cb5d1fba7a189
                               69980                     3947ca729a860c522a64a49d762baada
                               69980                     ae5b7e3fac682643ba98c7614bb2f6ac
               epitaciolandia  69934                     f036ca45f48f9058e7a227905a55eb7f
...                                                                                   ...
TO             tocantinopolis  77900                     13983d40cac41bbdb300a67e8e8c7a26
                               77900                     c04749871c304d2d3b2b01b43c96c8f4
               xambioa         77880                     041e2512cf5dce7b291188545b696687
                               77880                     7d10152cb7d145696c69a726540a1afe
                               77880                     83dfca2919ddba85316605281759bb90

[99441 rows x 2 columns]

In [5]:
geo = geolocation.copy()
geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
geo = geo.set_index(['geolocation_state', 'geolocation_city', 'geolocation_zip_code_prefix'])
geo = geo.sort_index()
geo

                                                                geolocation_lat  \
geolocation_state geolocation_city geolocation_zip_code_prefix
AC                acrelandia       69945                             -10.074669
                                   69945                             -10.080001
                                   69945                              -9.937884
                                   69945                             -10.077416
                                   69945                             -10.077757
...                                                                         ...
TO                xambioá          77880                              -6.412219
                                   77880                              -6.413853
                                   77880                              -6.407600
                                   77880                              -6.417654
                                   77880                              -6.407146

                                                                geolocation_lng
geolocation_state geolocation_city geolocation_zip_code_prefix
AC                acrelandia       69945                             -67.055162
                                   69945                             -67.053719
                                   69945                             -66.928913
                                   69945                             -67.052816
                                   69945                             -67.049242
...                                                                         ...
TO                xambioá          77880                             -48.531582
                                   77880                             -48.538046
                                   77880                             -48.534747
                                   77880                             -48.535332
                                   77880                             -48.535130

[1000163 rows x 2 columns]

In [7]:
geo.name

AttributeError: 'DataFrame' object has no attribute 'name'